@media only screen and (max-width: 360px) {
    html, body {
        margin: 0px;
        padding: 0px;
        font-family: 'Roboto', sans-serif;
    }

    header.header {
        background-color: rgb(73, 113, 216);
    }

    div.box-title > h3.title {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 50px;
        margin: 0px;
        font-size: 22px;
        font-weight: bold;
    }

    div.appIMC {
        margin-top: 89px;
        margin-left: 34px;
        margin-right: 34px;
    }

    input[class=altura] {
        margin-bottom: 44px;
    }

    input[type="text"] {
        width: 280px;
        height: 35px;
        font-family: 'Roboto', sans-serif;
    }
}